<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div>
<table>
    <tr th:each="ownerList: ${ownerList}">
        <td th:text="${ownerList.id}"></td>
        <td th:text="${ownerList.name}"></td>
        <td th:text="${ownerList.surname}"></td>
    </tr>

</table>
</div>
<div class="button1">
    <form action="./add" method="post">
        <button class="button11" type="submit">Add</button>
    </form>
</div>
</body>
</html>