<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link th:href="@{/style.css}" rel="stylesheet">
</head>
<body>
<div>
<table>
    <tr th:each="visitorsList: ${visitorsList}">
        <td th:text="${visitorsList.id}"></td>
        <td th:text="${visitorsList.name}"></td>
        <td>
            <form action="./uppdate" method="get">
            <input hidden="hidden" type="text" th:value="${visitorsList.id}" name="id">
            <button type="submit">uppdate</button>
            </form>
        </td>
        <td>
            <form action="./delete" method="post">
                <input hidden="hidden" type="text" th:value="${visitorsList.id}" name="id">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
</table>
</div>
<div class="button1">
    <form action="./add" method="post">
        <button class="button11" type="submit">Add</button>
    </form>
</div>
</body>
</html>